nav.navbar.navbar-inverse.navbar-fixed-top
	class.navbar-header
		button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a(class="navbar-brand", href="/") Administração
	ul.nav.navbar-right.top-nav
		li.dropdown
			a.dropdown-toggle(href="#", data-toggle="dropdown")
				<i class="fa fa-user"></i> John Smith <b class="caret"></b>
			ul.dropdown-menu
				li
					a(href="#")
						<i class="fa fa-fw fa-user"></i> Profile
				li
					a(href="#")
						<i class="fa fa-fw fa-envelope"></i> Inbox</a>
				li
					a(href="#")
						<i class="fa fa-fw fa-gear"></i> Settings
				li.divider
				li
					a(href="#")
						<i class="fa fa-fw fa-power-off"></i> Log Out

	//menu lateral
	class.collapse.navbar-collapse.navbar-ex1-collapse
		ul.nav.navbar-nav.side-nav
			li
				a(href="/")
					<i class="fa fa-fw fa-dashboard"></i> Dashboard

